<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Find Word Search</title>
  <!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css', t=timeStamp) }}">
</head>
<body>
  <h1>Welcome to the word search solver!</h1>
  <p>
    Go to <a href="http://www.whenwewordsearch.com/" target="_blank">this website</a>,
    then copy the link to a word search page and paste it in the form below:
  </p>
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-box">
      <div class="form-group1">
        {{ form.url.label }}
        {% if form.url.errors %}
          {{ form.url(size=90) }}
          <div class="form-error">
            {% for error in form.url.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.url(size=90) }}
        {% endif %}
      </div>
      <div class="form-group2">
        {{ form.submit }}
      </div>
    </fieldset>
  </form>
</body>
</html>
