body {
  background-color: gray;
}

form {
  padding-top: 30px;
}

.form-group2 {
  padding-top: 8px;
}

.form-box {
  width: 60%;
}

.form-error {
  border: 1px solid red;
  background-color: #F2B8C1;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  display: inline-block;
}

#error-container {
  padding: 30px;
  text-align: center;
}

#error-message {
  font-size: xx-large;
}

#error-container > a {
  text-decoration: none;
  padding: 7px;
  font-size: large;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
}

#error-container > a:hover {
  background-color: black;
  color: gray;
}
