body {
  display: grid;
  background-color: gray;
}

table {
  background-color: black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-data {
  background-color: white;
  text-align: center;
}

.words-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.words-container > p {
  border: 1px solid black;
  border-radius: 3px;
  padding: 1px 2px 1px 2px;
  margin-left: 2px;
  background-color: gray;
}

.nav-buttons {
  margin: auto;
  margin-top: 20px;
}

.nav-buttons > * {
  display: inline;
  border: 1px solid black;
  padding: 7px;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
}

.nav-buttons > *:hover {
  background-color: black;
  color: gray;
}

.nav-buttons > a {
  text-decoration: none;
  color: black;
}

#title {
  margin: auto;
  font-size: xx-large;
}

#subtitle {
  margin: auto;
  font-size: x-large;
}
